div p {
  color: red;
}
div > p {
  font-size: 40px;
}

p + div {
  background-color: green;
}

span + p {
  color: black;
}

[title="hello"]:hover {
  color: blue;

  background-color: red;
  display: block;
}
