.box {
  height: 100px;
  padding: 200px;
  border: 5px solid black;
  background-color: lightgreen;
  box-sizing: content-box; /* change to border-box to see difference */
  background-color: brown;
  border: 2px solid white;
}
